/* Root styles */
:root {
  font-family: "Roboto", sans-serif;
  --primary-color: rgba(30, 39, 46, 0.8);
  --highlight-gradient: linear-gradient(
    135deg,
    #ff9a9e,
    #faaf9a,
    #d743ad,
    #530df7
  );
  --blur-background: rgba(255, 255, 255, 0.2);
  --text-color: #ffffff;
  --hover-scale: 1.2;
  --transition-speed: 0.3s;
  --nav-height: 100px;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #9975ed);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

section {
  scroll-margin-top: var(--nav-height);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
